@import url('https://fonts.googleapis.com/earlyaccess/notosansjp.css');
@import url('https://fonts.googleapis.com/css?family=Dosis:200, 400');

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}

body {
    font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#background {
    background-image: url(../img/IMG_1080_s.jpg);
    background-size: cover;
}

#main-title {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.font-yugothic {
    font-family: "Yu Gothic", YuGothic, sans-serif;;
}

.font-dosis {
    font-family: 'Dosis', sans-serif;
}

.image.is-256x256 {
    height: 256px;
    width: 256px;
}

.headline:after {
    content: "";
    display: block;
    height: 1px;
    width: 25px;
    background-color: #824880;
    margin: 25px auto;
}

.profile-headline {
    padding: 0.25em 0.5em;
    border-left: solid 5px #824880;
    background: transparent;
}

.media-content {
    overflow: hidden;
}

.tile.is-parent {
    padding: 0;
}

@media only screen and (min-width: 769px) {
    .tile.is-child:not(:last-child) {
        margin-right: 1rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .profile {
        display: block;
    }

    .profile-image {
        margin: 0 auto 1em;
    }

    .tile.is-child:not(:last-child) {
        margin-bottom: 1rem !important;
    }
}